/* CSS начало header *Xbost1k* */

.text {
	font-size: 14px;
	line-height: 20px;
	color: #52503B;
}

.button {
	padding: 11px 18px;
	border-radius: 6px;
	border: 0;
	margin: 0;
}

a {
	text-decoration: none;
	display: inline-block;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 1440px;
}


.title-decoration::before {
	content: ' ';
	display: block;
	background-color: #E08631;
	width: 42px;
	height: 8px;
	margin-bottom: 30px;
}

.decoration-center::before {
	margin-left: auto;
	margin-right: auto;
}

.description {
	font-size: 14px;
	line-height: 20px;
	text-align: center;
}

.section-title {
	font-size: 32px;
	line-height: 36px;
	color: #52503B;
	text-align: center;
}

.section-subtitle {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #52503B;
	width: 600px;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 28px;
}

@font-face {
	font-family: 'Montserrat';
	src: url("../fonts/Montserrat-Regular.ttf") format("TrueType");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat-medium';
	src: url("../fonts/Montserrat-Medium.ttf") format("TrueType");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Montserrat bold';
	src: url("../fonts/Montserrat-Bold.ttf") format("TrueType");
	font-weight: bold;
	font-style: normal;
}

* {
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
}
body {
	font-family: Montserrat;
}
.header {
	position: absolute;
	width: 100%;
	background-color: #52503B;
}

.container {
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}
.header__wrapper {
	display: flex;
	align-items: center;
	height: 80px;
	justify-content: space-between;
	
}

.header__logo {
	margin-top: 5px;
}
.header__logo-img {
	width: 128px;
}
.header__items {
	display: flex;
	margin-right: 10px;
	gap: 24px;
}

.header__item-link {
	color: #FFFFFF;
	font-size: 15px;
}



/* CSS код header *Xbost1k* */

/* CSS код section-1 *Xbost1k* */

.section-1 {
	width: 100%;
	background-image: url("../images/img-section-1.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-bottom: 90px;
	padding-top: 248px;
}


.sec1_title {
	display: flex;
	flex-direction: column;
	align-items: center;
	
}

.sec1_title h2 {
	font-size: 48px;
	color: white;
	text-align: center;
	margin-top: 34px;
}

.sec1_title p {
	font-size: 14px;
	color: white;
	letter-spacing: 2px;
	text-transform: uppercase;
	margin-top: 33px;
	margin-bottom: 113px;
}

/* CSS конец код section-1 *Xbost1k* */


.description-site {
	width: 100%;
	background-color: #FAF8F0;
	padding-top: 100px;
	padding-bottom: 87px;
}



.description-site__text {
	display: flex;
	line-height: 20px;
	color: #333333;
}

.description-site__inner {
	width: 768px;
	padding-top: 5px;
	margin: 0 auto;
}

.description-site__text-left {
	width: 820px;
	margin-right: 45px;
	text-align: top;
}
.description-site__text-right {
	width: 850px;
}


.description-site__btn {
	background-color: #52503B;
	color: white;
	margin-top: 40px;
	border: 1px solid #52503B;
}


.guest-house {
	width: 100%;
	padding-top: 100px;
	padding-bottom: 143px;
}
.guest-house__title {
	font-family: 'Montserrat bold';
	font-size: 96px;
	line-height: 96px; 
}

/*  sleeping arrangements */

.sleeping-arrangements{
	display: flex;
	flex-direction: column;
	background-color: #FAF8F0;
	padding-bottom: 100px;
}

.sleeping-arrangements__img {
	justify-content: center;
	margin-bottom: 98px;
}

.sleeping-arrangements__items {
	display: flex;
	justify-content: space-between;
	margin-top: 10px;
	padding: 0 20px;
}
.sleeping-arrangements__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}


.sleeping-arrangements__text {
	text-align: center;
	margin-top: 3px;
	width: 340px;
}

.sleeping-arrangements__title-icon {
	width: 100%;
	margin-bottom: 0;
}


/* The perfect escape. */

.perfect-escape {
	padding-top: 98px;
	background-color: white;
	padding-bottom: 70px;
}

.perfect-escape__inner {
	padding: 0 16px;
}

.perfect-escape__title {
	text-align: left;
}

.perfect-escape__subtitle {
	margin-left: 0;
	text-align: left;
}


.perfect-escape__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px;
}
.perfect-escape__item {
	display: flex;
	align-items: flex-start;
	margin: 0 16px 42px 16px;
	flex: 0 0 568px;
}
.perfect-escape__item-img {
	margin-right: 16px;
	width: 36px;
}
.perfect-escape__item-title {
	font-size: 14px;
}


/* Past guests */

.past-guests {
	padding-top: 100px;
	background-color: #FAF8F0;
}

.past-guests__comments {
	display: flex;
	align-items: baseline;
	max-width: 1168px;
	margin-left: 15px;
	margin-bottom: 13px;
}
.company-comment {
	display: flex;
	min-width: 584px;
	background-color: #FFFFFF;
	color: #333333;
	padding: 32px;
	margin-right: 20px;
}
.company-comment__header {
	margin-bottom: 10px;
}
.comment-rating {
	margin-bottom: 7px;
}
.comment__rating-img {
	margin-right: -2px;
	padding: 0;
}
.company-comment__header-title {
	color: #333333;
	line-height: 24px;
	font-size: 18px;
}
.company-comment__content {
	width: 100%;
	margin-bottom: 20px;
}
.company-comment__author::before {
	content: ' ';
	display: inline-block;
	margin-right: 10px;
	width: 2px;
	height: 20px;
	background-color: #E08631;
}
.company-comment__author {
	display: inline-flex;
	font-weight: 400;
	margin-left: -3px;
}

.company-comment__inner {
	max-width: 511px;
}

.scroll-btn {
	display: flex;
	margin-bottom: 70px;
	justify-content: flex-end;
	margin-right: 14px;
}

.scroll-btn__item {
	margin-left: 10px;
	height: 60px;
	width: 60px;
	border-radius: 50%;
	border: 2px solid #52503B;
}

/* come together */

.come-together {
	
}
.container {
}
.come-together__inner {
	max-width: 1168px;
}
.title-decoration {
}
.section-title {
}
.section-subtitle {
}
.come-together__items {
}
.come-together__item {
}
.come-together__item-img {
}
.come-together__item-description {
}